<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resto</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/general.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="body__main">
    <header class="header__1">
      <h1>Nuestro Resto</h1>
      <h1 id="Carta">Carta</h1>
         </header>
         <main class="main__menu">
  <aside class="link__carta">
    <ul class="lista">
        <li>Entradas</li>
        <li>Platos principales</li>
        <li>Ensaldas</li>
        <li>Raws</li>
        <li>Postres</li>
        <li>Desayunos y Meriendas</li>
        <li>Bebidas</li>
        <li>Smoothies</li>
        <li>Te y cafe </li>
        <li>Vinos</li>
        <li>Cervezas</li>
    </ul>
  </aside>
         <section class="section_menu">
            <article class="article__entradas">
            <h2>Entradas</h2>
            <img class="foto__entradas"src="/img/foto-entradas.jpg" alt="" >
           <h3>Muzzarella Sticks</h3>
           <p>Bastones de muzzarella rebozados</p>

           <h3>Jalapeños relleos</h3>
           <p>Jalapeños rellenos de langostinos 
            y queso Cheddar con panceta.</p>

           <h3>Ración de Rabas</h3>
           <p>Jalapeños rellenos de langostinos 
            y queso Cheddar con panceta.</p>

           <h3>Chicken Wings</h3>
           <p>220 gr. de chicharrón de calamar 
            frito con alioli</p>

           <h3>Croquetas de hongos</h3>
           <p>Croquetas elaboradas a base de hongos disecados.</p>

           <h3>Langostinos en cous cous</h3>
           <p>Langostinos a la plancha con frutos secos, tomates cherry, albahaca y cous cous
        </p>
           <h3>Chipirones a la plancha</h3>
           <p>Con chutney de mango y sandía a la plancha
        </p>

           <h3>Nachos con refrito</h3>
           <p>Nachos salteados con porotos negros, chorizo colorado y salsa BBQ</p>

           <h3>Tapa de morcilla</h3>
           <p>Pan casero de campo, morcilla, verdeo y queso brie.
        </p>

           <h3>Tapa de campo</h3>
           <p>Morcilla, papa, chutney de manzana y crema de eneldo
        </p>

           <h3>Tapa de mollejas</h3>
           <p>
            Mollejas con mango, ananá, jengibre, chiles y pochoclo.

           </p>
         </article>
         </section>
         
         </main>
         <footer class="footer">
            <img class = "img__footer"src="/img/logo-web.png" alt="">
            <section class="section__footer">
            <h2>contacto
            </h2>
            <ul>
               <li>Facebook</li>
               <li>Twitter</li>
               <li>Instagram</li>
            </ul>
         </section>
         </footer>
</body>
</html>